body
{
    height: 100vh;
}
h1{
     font-family: "Caveat", cursive;
}
.add{
    border-radius: 50%;
    width: 50px;
    font-size: x-large;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;

}
.newNote,.editNote
{
    
    background-color: rgb(237, 237, 140);
  position: fixed;
right: 0;
left: 0;
top:10%;
    height: 80vh;
    width: auto;
    z-index: 4;

}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7b2ff7, #f107a3);
  border-radius: 8px;
}

textarea::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.title,.notes
{
    background-color: rgb(237, 237, 140);
    border: none;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;  
    resize: none;
    outline: none;   
   cursor:pointer;
   
}


.show
{
    display: block;
}
.hide
{
    display: none;
}
.note
{
    
 
   border: 1px solid rgba(0, 0, 0, 0.353);
   
   overflow: hidden;
   cursor:pointer;
}
@media (max-width: 400px) {
    .newNote {
        width: 100%;
    
    }
    
}